:root {
    /* fonturi text */
    --text-primary:#04034b;
    --text-secondary:#f3f38d;
    --text-dark:#5d5848;
    --text-whait:#ffffff;

    /* Culori background-uri */
    --bg-primary:#06103c;
    --bg-seccondary:#c2dade;
    --bg-dark:#040d27;
    --bg-light:#f4e8e8;

    /* Culori butoane */
    --button-color:#1170bd;

    /* Marimi fonturi */
    --fs-small:0.75rem; /*12px - Cel mai mic */
    --fs-small:0.875rem; /*14px - Font mediu */
    --fs-small:1rem; /*16px - Font mare */
    --fs-small:1.25rem; /*20px - Cel mai mare */

    /* Spatiere */
    --spacing-xxl:3rem; /*48px*/
    --spacing-xl: 2.625rem; /*42px*/
    --spacing-large: 1.75rem; /*28px*/
    --spacing-medium: 1rem; /*16px*/
    --spacing-small: 0.5rem; /*8px*/
    --spacing-tiny: 0.25rem; /*4px*/

}
body {
    margin:0;
    /* height:100vh; */
    /* border: solid 5px rgb(89, 233, 243); */
    /* margin:2px; */
}
.nav-position {
    border: solid 5px rgb(24, 212, 40);
}
.main-positon {
    border: solid 5px red;
    margin: 1px 1px 1px 1px;
}
.main-top {
    border: solid 5px rgb(8, 131, 34);
    margin: 1px 1px 1px 1px;
}
.main-bottom {
    border: solid 5px rgb(8, 131, 34);
    margin: 1px 1px 1px 1px;
    display: flex;
}
.contact-details {
    width:50%;
    border: solid 5px rgb(16, 8, 131);
    margin: 1px 1px 1px 1px;
}

.contact-detail-box {
    border: solid 5px rgb(189, 8, 17);
    margin: 1px 1px 1px 1px;
}
.main-bottom .contact-form {
    width: 50%;
    border: solid 5px rgb(16, 8, 131);
    margin: 1px 1px 1px 1px;
    display: flex;
    flex-direction: column;
}
